.header {
    height: 300px;
    width: 100%;
    background: linear-gradient(#087990, #055160);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #CFF4FC;
}

h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
}

.header > p {
    font-size: 1.3rem;
    color: #CFF4FC;
}
