.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
.news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
h1 {
    text-align: center;
  }